<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925807401475-mqt4qsegi5pvan5gcknos77n6h9fc1hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925807401475-mqt4qsegi5pvan5gcknos77n6h9fc1hg</string>
	<key>API_KEY</key>
	<string>AIzaSyAb-0WTnUNwCwEhpFri8qGIRX5EzfA4gcs</string>
	<key>GCM_SENDER_ID</key>
	<string>925807401475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickdeliverFlutterChallenge</string>
	<key>PROJECT_ID</key>
	<string>quickdeliver-d5e46</string>
	<key>STORAGE_BUCKET</key>
	<string>quickdeliver-d5e46.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925807401475:ios:e545bd23cdb2a6274f4c36</string>
</dict>
</plist>